<%- include ("../partials/studentHeader.ejs") %>
<div class="students_details">
                
                    <div class="id_name">
                        <h3 id="name"><%= student.name %></h3>
                        <p id="id"><strong>ID:</strong> <%= student.id %></p>
                    </div>
                    <p id="age"><strong>Age:</strong> <%= student.age %></p>
                    <p id="phone"><strong>Phone:</strong> <%= student.phone %></p>
                    <div class="phone_year">
                        <p id="branch"><strong>Branch:</strong> <%= student.branch %></p>
                        <p id="year"><strong>Year:</strong> <%= student.year %></p>
                    </div>
                      <p id="cgpa"><strong>CGPA:</strong> <%= student.cgpa %></p>
              
        </div>

<%- include ("../partials/footer.ejs") %>